#! /bin/bash

if [[ -f "$BOTTLE_WINEPREFIX/drive_c/windows/system32/control.exe" ]]
then
    (env WINEPREFIX="$BOTTLE_WINEPREFIX" WINEARCH="$BOTTLE_BITNESS" wine "$BOTTLE_WINEPREFIX/drive_c/windows/system32/control.exe" > >("$BOTTLE_DIR/logger" "$BOTTLE_WINEPREFIX/drive_c/windows/system32/control.exe") 2> >("$BOTTLE_DIR/logger" "$BOTTLE_WINEPREFIX/drive_c/windows/system32/control.exe" "-e") &)
else
    echo "control.exe not found"
fi
